[tool.ruff]

exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
]

line-length = 88

[tool.ruff.lint]
extend-select = ["I"] # Enable isort rules
ignore = ["E501"] # Ignore line length issues if you're using the formatter

[tool.ruff.format]

indent-style = "space"
quote-style = "double"

[lint]
extend-select = ["I"]
ignore = ["E501"]

[format]
quote-style = "double"


[tool.mypy]
# Python-Version
python_version = "3.11"

strict = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_no_return = true
warn_unreachable = true

# Weitere wichtige Einstellungen
show_error_codes = true
warn_return_any = true
warn_unused_configs = true
enable_error_code = ["ignore-without-code", "redundant-expr", "truthy-bool"]

# Ignorieren bestimmter Fehler
disable_error_code = []

# Pfade ausschließen
exclude = [
    ".*/__pycache__/",
    ".*/migrations/",
    ".*/tests/",
]

# Plattform-spezifische Einstellungen
platform = "linux"

# Cache für bessere Performance
cache_dir = ".mypy_cache"

# Für bestimmte Bibliotheken