name: Tests with Docker

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
    - uses: docker/setup-buildx-action@v3

    - name: Build Docker image
    - run: docker build -t atlas_app:${{ github.sha }} .

    - name: Run tests inside Docker container
    - run: docker run --rm atlas_app:${{ github.sha }} pytest